@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  overscroll-behavior: none;
  overflow-x: hidden;
  color: white;
  font-family: 'Outfit', sans-serif;
}

#root {
  background-color: black;
}

::selection {
  background: white;
  color: black;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@theme {
  --font-handwritten: "Caveat", cursive;

  --animate-shine: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: -200% center;
  }

  100% {
    background-position: 200% center;
  }
}