@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cinzel:wght@400;700;900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  overscroll-behavior: none;
  overflow-x: hidden;
}

#root {
  background-color: black;
}

@theme {
  --font-handwritten: "Caveat", cursive;

  --animate-shine: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: -200% center;
  }

  100% {
    background-position: 200% center;
  }
}