@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cinzel:wght@400;700;900&display=swap');

@theme {
  --font-handwritten: "Caveat", cursive;

  --animate-shine: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: -200% center;
  }

  100% {
    background-position: 200% center;
  }
}